---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>vinono mountain</title>
  </head>
  <h1></h1>
  <body>
    <h1>Blog</h1>
    <h2>my blog</h2>
  </body>


</html>
