---
import "../style/global.css";
import Nav from "../components/Nav.astro";
// import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>vinono mountain</title>
  </head>
  <body>
    <Nav />
    <!-- <Header /> -->
    <h1>vinono mountain</h1>
    <Footer />
  </body>
</html>
